td,
th {
  font-family: 'Figtree', Arial, Tahoma, sans-serif;
  font-size: 15px !important;
}

th {
  font-weight: bold !important;
}

tr:hover td {
  background-color: rgb(40, 195, 84);
  color: white;
}

.tabla-container {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
}

::ng-deep .mat-mdc-form-field .mat-mdc-floating-label {
  color: #ffffff !important; // color azul
  font-size: 14px; // tamaño
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(3, 73, 3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --- PANTALLAS GRANDES --- */
@media (min-width: 768px) {
  .tabla-container {
    overflow-x: hidden; /* No scroll horizontal */
  }

  .tabla-habitos {
    width: 100%;
    min-width: unset !important;
    table-layout: auto; /* columnas se expanden */
  }
}

.titulo-container {
  text-align: center;
  font-size: 25px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-add {
  background-color: rgb(62, 109, 0);
  color: white !important;
  margin-bottom: 10px;
  font-family: var(--font-primary);
  margin-left: 5px;
  margin-right: 5px;
}

.button-cancel {
  background-color: rgb(1, 35, 61);
  color: white !important;
  margin-bottom: 10px;
  font-family: var(--font-primary);
  margin-left: 5px;
  margin-right: 5px;
}
.button-delete {
  background-color: rgb(234, 15, 33);
  color: white !important;
  margin-bottom: 10px;
  font-family: var(--font-primary);
  margin-left: 5px;
  margin-right: 5px;
  display: flex; 
  align-items: center; // centra vertical
  justify-content: center; // centra horizontal
}
.form-row {
  display: grid;
  grid-template-columns: 1fr; // mobile
  gap: 16px;
}

@media (min-width: 992px) {
  .form-row {
    grid-template-columns: 50% 15% 15% 15%;
    align-items: center;
  }
}

/* --- PANTALLAS PEQUEÑAS (CELULAR) --- */
@media (max-width: 767px) {
  .tabla-habitos {
    table-layout: fixed; /* clave para que el contenido respete la celda */
    width: 100%;
  }

  .tabla-habitos td,
  .tabla-habitos th {
    padding: 5px;
    font-size: 13px;
  }

  .tabla-habitos td > div {
    display: block;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }
}

/* Pantallas muy pequeñas */
@media (max-width: 344px) {
  .tabla-habitos td,
  .tabla-habitos th {
    padding: 2px;
    font-size: 12px !important;
  }

  .tabla-habitos td > div {
    font-size: 12px;
  }
}
