<h2 mat-dialog-title>Secreto ({{data?.modo}})</h2>

<mat-dialog-content [formGroup]="form">
  @if(form.get('descripcion')?.hasError('required')) {
  <mat-error> La descripción es obligatorio </mat-error>

  } @if(form.get('descripcion')?.hasError('maxlength')) {
  <mat-error> La descripción debe ser de 0 a 500 caractéres </mat-error>
  }

  <mat-form-field class="full-width">
    <mat-label>Descripción</mat-label>
    <input matInput placeholder="Descripción breve..." formControlName="descripcion" />
  </mat-form-field>

  @if(form.get('contenido')?.hasError('required')) {
  <mat-error> El contenido es obligatorio </mat-error>

  } @if(form.get('contenido')?.hasError('maxlength')) {
  <mat-error> El contenido debe ser de 0 a 300 caractéres </mat-error>
  }

  <mat-form-field class="full-width">
    <mat-label>Contenido</mat-label>
    <input matInput placeholder="Contenido a cifrar..." formControlName="contenido" />
  </mat-form-field>

  @if(form.get('clave')?.hasError('required')) {
  <mat-error> Debe ingresar la clave de cifrado </mat-error>

  } @if(form.get('clave')?.hasError('maxlength')) {
  <mat-error>La clave debe ser de 0 a 300 caractéres </mat-error>
  }

<mat-form-field class="full-width">
  <mat-label>Clave</mat-label>

  <input
    matInput
    [type]="hide ? 'password' : 'text'"
    formControlName="clave"
  />

  <button
  style="margin-right: 10px;"
    mat-icon-button
    matSuffix
    type="button"
    (click)="hide = !hide"
    aria-label="Mostrar u ocultar contraseña"
  >
    <mat-icon >
      {{ hide ? 'visibility' : 'visibility_off' }}
    </mat-icon>
  </button>
</mat-form-field>

 
 
@if(form.hasError('clavesNoCoinciden')){
<mat-error>
  Las claves no coinciden
</mat-error>
}
<mat-form-field class="full-width">
  <mat-label>Confirmar clave</mat-label>
  <input
    matInput
    type="password"
    formControlName="confirmarClave"
  />
</mat-form-field>

</mat-dialog-content>


<mat-dialog-actions>
  <button [disabled]="form.invalid" matButton class="btn-aceptar" (click)="guardar()">
    Aceptar
  </button>
  <button matButton mat-dialog-close class="btn-cerrar">Cerrar</button>
</mat-dialog-actions>
