<h2 mat-dialog-title>Ver secreto</h2>

<mat-dialog-content [formGroup]="form">
  @if (!enviar) { @if(form.get('descripcion')?.hasError('required')) {
  <mat-error> La descripción es obligatorio </mat-error>

  } @if(form.get('descripcion')?.hasError('maxlength')) {
  <mat-error> La descripción debe ser de 0 a 500 caractéres </mat-error>
  }

  <mat-form-field class="full-width">
    <mat-label>Descripción</mat-label>
    <input
      readonly="true"
      matInput
      placeholder="Descripción breve..."
      formControlName="descripcion"
    />
  </mat-form-field>

  @if(form.get('clave')?.hasError('required')) {
  <mat-error> Debe ingresar la clave de cifrado </mat-error>

  } @if(form.get('clave')?.hasError('maxlength')) {
  <mat-error>La clave debe ser de 0 a 300 caractéres </mat-error>
  }

  <mat-form-field class="full-width">
    <mat-label>Clave</mat-label>

    <input matInput [type]="hide ? 'password' : 'text'" formControlName="clave" />

    <button
      style="margin-right: 10px"
      mat-icon-button
      matSuffix
      type="button"
      (click)="hide = !hide"
      aria-label="Mostrar u ocultar contraseña"
    >
      <mat-icon>
        {{ hide ? 'visibility' : 'visibility_off' }}
      </mat-icon>
    </button>
  </mat-form-field>
  }@else{
  <form [formGroup]="formContenido">
    <mat-form-field class="full-width">
      <mat-label>Textarea</mat-label>
      <textarea readonly="true" rows="6" matInput formControlName="contenido"></textarea>
    </mat-form-field>
  </form>

  }
</mat-dialog-content>

<mat-dialog-actions>
  @if(enviar === true){
  <button [disabled]="form.invalid" matButton class="btn-aceptar" (click)="copiarContenido()">
    Copiar
  </button>
  }@else{
  <button [disabled]="form.invalid" matButton class="btn-aceptar" (click)="mostrarClave()">
    Mostrar
  </button>

  }
  <button matButton mat-dialog-close class="btn-cerrar">Cerrar</button>
</mat-dialog-actions>
