<div class="update-container">
  <mat-card>
    <span class="nombre-app">BinAI</span>
    <h2>Cambiar contraseña</h2>

    <form [formGroup]="form">
   

      @if (form.get('clave')?.hasError('required')) {
      <mat-error style="margin-bottom: 15px"> Ingrese la contraseña nueva </mat-error>
      }

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña nueva</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="clave" />

        <button
          style="margin-right: 10px"
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide2 = !hide2"
          aria-label="Mostrar u ocultar contraseña"
        >
          <mat-icon>
            {{ hide2 ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </button>
      </mat-form-field>

      @if(form.hasError('clavesNoCoinciden')){
      <mat-error style="margin-bottom: 15px"> Las claves no coinciden </mat-error>
      }

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Repita la nueva contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmarClave" />

        <button
          style="margin-right: 10px"
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          aria-label="Mostrar u ocultar contraseña"
        >
          <mat-icon>
            {{ hide ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </button>
      </mat-form-field>
    </form>

    <button
      mat-raised-button
      class="full-width"
      (click)="actualizar()"
      [disabled]="loading()"
      style="background-color: forestgreen; color: white"
    >
      {{ loading() ? 'Actualizando...' : 'Actualizar' }}
    </button>
  </mat-card>
</div>
